@Html.Hidden("ViewBagID", (object)ViewBag.ID)
<style>
    div[id^="container"] {
        height: 300px;
        /*width: 40%;*/
    }
</style>

<div class="row">

    <div class="col-md-12" style="padding:20px 0">
        <div style="margin: 30px  0;" id="dateInputDiv">
            <input id="dateInput" type="text" />
            <button type="button" class="btn btn-primary" onclick="getData()">get data </button>
        </div>

        <div  class="col-md-4" id="container0"></div>
        <div  class="col-md-4" id="container1"></div>
        <div  class="col-md-4" id="container2"></div>
        <div  class="col-md-4" id="container3"></div>
        <div  class="col-md-4" id="container4"></div>

    </div>

    <script src="~/Scripts/PriceView/fromTOAllSymbol.js"></script>
</div>





