@Html.Hidden("ViewBagID", (object)ViewBag.ID)
<style>
    #container {
        height: 800px;
        min-width: 310px;
    }
    .btn-primary a{
        color: #fff !important;
    }
</style>

<div class="row">

    <div class="col-md-12" style="padding:20px 0">


        <div id="container"></div>

        <div>
            <button type="button" class="btn btn-primary" onclick="getData(1)">قبلی</button>
            <span id="PageIndex"></span>
            <button type="button" class="btn btn-primary" onclick="getData(-1)">بعدی</button>
            <div style="margin: 0 30px; display:inline" id="dateInputDiv">
                <input id="dateInput" type="text" />
                <button type="button" class="btn btn-primary" onclick="getData(0)">get data </button>
            </div>
        </div>

        <div style="margin: 30px  0;">
            <span id="TypeSpan" style="margin: 0 30px;"></span>
            <a href="/PriceView/Symbol/2"><button type="button" class="btn btn-primary">xauusd </button></a>
            <a href="/PriceView/Symbol/3"><button type="button" class="btn btn-primary">usdchf </button></a>
            <a href="/PriceView/Symbol/4"><button type="button" class="btn btn-primary">eurjpy </button></a>
            <a href="/PriceView/Symbol/10"><button type="button" class="btn btn-primary">nq100m</button></a>
            <a href="/PriceView/Symbol/11"><button type="button" class="btn btn-primary">DYX </button></a>
        </div>
    </div>

    <script src="~/Scripts/PriceView/index.js"></script>
</div>





