<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SalaryHost" value="http://localhost:2547/" />
		<add key="SalaryHostHeaders" value="Header1:Value1,Header2:Value2" />
		<add key="OrganizationHost" value="http://localhost:61223/" />
		<add key="CheckEndPointHost" value="http://localhost:61223/api/v1/CommandPermission/Validate" />
		<add key="OrganizationHostHeaders" value="Header1:Value1,Header2:Value2" />
		<add key="ApplicationID" value="D1B19FE0-1EBC-4546-BBAB-7BF634C46267" />
		<add key="ClientID" value="1859962B-9B0C-4CB3-A450-F60F45D47767" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="1500000000" />
		<add key="MaximumOrganizationVideoAttachmentSize" value="150" />
		<add key="TemporaryFiles" value="G:\Kama\TemporaryFiles" />
		<add key="MaximumAttachmentSize" value="30" />
		<add key="MaximumOrganizationAttachmentSize" value="30" />
		<add key="LoginCaptchaTimeoutInSeconds" value="60" />
		<add key="ForgotPasswordCaptchaTimeoutInSeconds" value="60" />
		<add key="SsoBaseUrl" value="http://5.34.200.121:2014/" />
		<add key="SsoKey" value="43bcc00a035cbc997641c44bd6053cad" />
		<add key="SsoBackUrl" value="http://localhost:4312/ssologin" />
		<add key="SsoUserHash" value="3f1ea9f02e35c9e75c4d060dd2e46cd00a0106a763356bb3aeab3c0bad540d112ca21df80aef6b5cd01b7d5b6e2b5a6646b47e63e7f840a9a4f57e43bf82c84c" />

		<add key="RabbitMQHost" value="5.34.200.121" />
		<add key="RabbitMQUserName" value="adminRabbit" />
		<add key="RabbitMQPassword" value="ad121R@1!it" />
	</appSettings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="999999999" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->

	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<trace enabled="false" localOnly="true" />
		<httpCookies sameSite="Strict" requireSSL="true" httpOnlyCookies="true" lockItem="true" />
		<httpRuntime targetFramework="4.6.1" maxRequestLength="10000000" enableVersionHeader="false" executionTimeout="3000" />
		<machineKey validationKey="5D6CD2434AA18B08F770D5FDC339D6818A7BC0023436841EF3756D69E507BF6910F8541030EA937F0E253CA070E8E238892BAE7183FF3DD9FE1519D2AED03FF3" decryptionKey="55043F41EB819D664C9529A3EB6DFA839BE1237A4DC7A055" validation="SHA1" decryption="AES" />
		<sessionState cookieSameSite="Strict" cookieless="false" mode="InProc" timeout="20" />
		<customErrors mode="On" defaultRedirect="~/NotFound?">
			<error statusCode="403" redirect="~/NotFound?x"/>
			<error statusCode="404" redirect="~/NotFound?" />
			<error statusCode="500" redirect="~/NotFound?"/>
			<error statusCode="401" redirect="~/NotAuthorised?" />
		</customErrors>
		<authentication>
			<forms requireSSL="true" />
		</authentication>
		<authorization>
			<deny verbs="OPTIONS" users="*" />
		</authorization>

		<!--<pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>     
    </pages>-->
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<verbs>
					<add verb="OPTIONS" allowed="false" />
				</verbs>
				<requestLimits maxAllowedContentLength="35000000" />
				<!--155MB-->
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<clear />
				<!--<add name="Content-Security-Policy" value="default-src 'self';" />-->
				<add name="Access-Control-Allow-Origin" value="https://m29.karmandiran.ir" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Kama-Lang" />
				<add name="Access-Control-Allow-Methods" value="GET, POST" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="Referrer-Policy" value="strict-origin" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<remove name="X-AspNet-Version" />
				<remove name="X-Powered-By" />
				<remove name="Server" />
			</customHeaders>
		</httpProtocol>
		<!--<validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>-->
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<rules>
			<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
				<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
				<conditions>
					<add input="{HTTPS}" pattern="on" ignoreCase="true" />
				</conditions>
				<action type="Rewrite" value="max-age=31536000; includeSubDomains; preload"/>
			</rule>
		</rules>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>